@page "/kasa"

    <ul class="nav nav-tabs">
        <!---
      <h3>Kasa işlemleri</h3>
    --->
        <li class="nav-item">
            <a class="nav-link disabled" href="kasa" tabindex="-1">Kasa işlemleri</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="kasa">Satış</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="kasa">Para Çıkışı</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="kasa">Günsonu</a>
        </li>
        
    </ul>
<div class="container-sm">







</div>
@code {
     
}
            
