@page "/kasa"
    <!-- <div class="container"> -->
<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Satış İşlemleri</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Para Çıkışı</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Günsonu Raporu</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">Satış İşlemleri Sayfası</div>
    <div role="tabpanel" class="tab-pane" id="profile">Para Çıkışı Sayfası </div>
    <div role="tabpanel" class="tab-pane" id="messages">Günsonu Raporu Sayfası</div>
</div>






<!--</div>-->
@code {

}

