
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1>Üzgünüm,</h1>
            <p>istediğin sayfayı maalesef bulamadım</p>
        </LayoutView>
    </NotFound>
</Router>
