@page "/kasa#ul"
<ul class="nav nav-tabs" role="tablist">
    <li class="active"> <a href="#satis" role="tab" data-toggle="tab">Satış İşlemi</a></li>
    <li> <a href="#parac" role="tab" data-toggle="tab">Para Çıkışı</a></li>
    <li> <a href="#gnsonu" role="tab" data-toggle="tab">Günsonu Raporu</a></li>
</ul>


<ul class="nav nav-tabs nav-justified">
        <!---
    <h3>Kasa işlemleri</h3>

      <li class="nav-item">
          <a class="nav-link disabled" href="kasa" tabindex="1">Kasa işlemleri</a>
      </li>
          --->
        <li class="nav-item">
            <a class="nav-link active" href="kasa#sats" role="tab" data-toggle="tab">Satış İşlemi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="kasa#parac" role="tab" data-toggle="tab">Para Çıkışı</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="kasa#gnsonu" role="tab" data-toggle="tab">Günsonu Raporu</a>
        </li>

    </ul>
@code {

}
